.meus-filmes{
    display: flex;
    flex-direction: column;
    
    align-items: center;

    margin-top: 8px;

    height: calc(100vh - 144px);

    background-color: rgba(220, 220, 220, 0.295);

    padding: 10px;
}

.meus-filmes .none{
    font-size: 30px;
    color: #e63939;
}

.meus-filmes .noneContainer{
    display: flex;
    height: 40%;
    align-items: center;
}

.meus-filmes h1{
    margin-bottom: 30px;
}


.meus-filmes ul{
    padding: 0 30px;
    width: auto;
    max-width: 1000px;
}

.meus-filmes ul li{
    list-style: none;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    margin-bottom: 24px;
}

.meus-filmes .filme{
    display: flex;
    align-items: center;

    width: 100%;
}

.meus-filmes .filme img{
    width: 100px;
    height: 100px;

    object-fit: scale-down;
}

.meus-filmes .filme span{
    font-size: 18px;
}

.meus-filmes .actions{
    display: flex;
    justify-content: center;
    align-items: center;
}

.meus-filmes .details a{
    color: #116feb;

    text-decoration: underline;

    width: 100px;

    text-align: left;

    margin-top: 4px;
}

.meus-filmes .filme .details {
    display: flex;
    flex-direction: column;

    margin-right: 80px;
    margin-left: 5px;
}

.meus-filmes .btExcluir {
    padding: 9px;
    background-color: red;
    color: white;
    font-weight: bolder;
    border: 0;
    border-radius: 5px;

    cursor: pointer;
}