.lista-filmes{
    max-width: 800px;
    margin: 14px auto;
}

.loading{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 14px;
}

.lista-filmes article{

    width: 100%;
    height: auto;

    padding: 25px 15px;

    border-radius: 10px;

    background-color: rgb(236, 236, 236);

    margin-bottom: 25px;
}

.lista-filmes strong{
    display: block;

    text-align: center;

    font-size: 22px;
}

.lista-filmes .filme-container{
    display: flex;
    width: 90%;
}

.lista-filmes .left{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50%;
}

.lista-filmes .left img{
    display: block;

    
    max-width: 100%;
    max-height: 340px;

    border-radius: 10px;

    object-fit: scale-down;
}

.lista-filmes .right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding-top: 30px;

    width: 50%;
}

.lista-filmes .right h2{
    font-size: 20px;
    margin-bottom: 15px;
    margin-left: 18px;
}

.lista-filmes .right p{
    margin-left: 18px;
    text-align: justify;
}

.lista-filmes .right a{
    display: flex;
    align-items: center;
    justify-content: center;

    width: auto;
    max-width: 80%;
    padding: 10px 35px;
    margin-top: 14px;
    border-radius: 10px;
    
    font-size: 21px;
    text-decoration: none;

    background-color: #116feb;
    color: white;
}

.lista-filmes .right a:hover{
    background-color: #1256af;
    transition: background-color .3s;
}

.lista-filmes hr{
    width: 100%;
    margin-top: 30px;   
}

.border-28 {
    border-right: 18px solid #116feb;
}

.border-18{
    border-right: 18px solid #e63939;
}

.border-878{
    border-right: 18px solid #80089e;
}

.border-27{
    border-right: 18px solid #0a750a;
}

.border-35{
    border-right: 18px solid #ebca11;
}

.border-16{
    border-right: 18px solid #11ddeb;
}